<h1>Departments</h1>

<% @departments.each do |department| %>
  <div id="departments-<%= department.id %>">
  <p><%= department.name %></p>
  <p><%= department.floor %></p>
     <% department.employees.each do |employee| %>
    <p>Employee: <%= employee.name %></p>
  </div>
    <% end %>
<% end %>